*, *:after, *:before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    transition: .5s ease-in-out;
    /* добавим плавность переходов для всех элементов страницы*/
 }
 body {
   background-color: azure;
   font-family: 'Open Sans', arial, sans-serif;
   font-size: 14px;
   line-height: 1;
   color: #373737;
   padding-left: 15px;
   padding-right: 15px;
   max-width: 1170px;
   margin: 0 auto;
   position: relative;
}
 ul {
    list-style: none;
 }
 a {
    text-decoration: none;
    outline: none;
    font-family: 'Hubballi', cursive;
 }
 h1 {
    font-family: 'Playfair Display';
    font-weight: normal;
    letter-spacing: 1px;
    font-family: 'Hubballi', cursive;
 }
 hr {
    font-family: 'Open Sans', arial, sans-serif;
    font-size: 14px;
    line-height: 1;
    color: #373737;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1170px;
    margin: 0 auto;
    position: relative;
 }
 table {
    background: rgb(0, 217, 255);
    padding: 15px 0;
    margin-bottom: 30px;
 }
 .info {
   position: relative;
   left: 80px;
 }
 .nowplaying {
    position: relative;
    top: 5px;
 }
 .player {
   position: relative;
   right: 50px;
 }
 .btn_back {
    position: relative;
    left: 50px;
    top: -10px;
    font-size:larger;
 }
 .playlist {
    position: absolute;
    left: 50px;
    right: 10px;
 }
 audio {
     width: 100%;
     position: sticky;
 }